*.suo
*.user
_ReSharper.*
bin
obj
packages
sample/iOS/BasicAuthSample/.vs/BasicAuthSample/xs/UserPrefs.xml
source/MASFoundation.Android/.vs/MASFoundation.Android/xs/UserPrefs.xml
source/MASFoundation.iOS/.vs/MASFoundation.iOS/xs/UserPrefs.xml
